<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Task</title>
</head>
<body>
    <ul>
        {% for task in tasks %}
        <li>{{task.title}}
            <ul>
                <li>{{task.description}}</li>
                {% for emp in task.assigned_to.all %}
                <li>{{emp.first_name}} {{emp.last_name}}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    
    
    
    
</body>
</html>