{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Form</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    <div class="w-1/2 mx-auto  mt-10 p-3 border-2 border-black">
        <div>
            {% if message %}
                <p>{{message}}</p>
            {% endif %}
        </div>
        <div>
            <div>
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{task_form.as_p}}
                {{task_detail_form.as_p}}
                <button type="submit" class="bg-rose-500 p-2 mt-4 rounded-sm">Submit </button>
            </form>
        </div>
    </div>
</body>
</html>