{% extends "admin/dashboard.html" %}
{% block admin_content %}
      <div class="flex items-center w-11/12 md:w-2/3 mx-auto">
        
        <h2 class="mx-auto text-2xl font-bold my-4">Groups and Permissions</h2>
        <a 
          href="{% url 'create-group' %}"
          class="px-4 py-2 bg-cyan-500 border-2 rounded-md">
          <button>Create Group</button>
        </a>
      </div>
      <div class="overflow-x-auto w-11/12  md:w-2/3 mx-auto">
        <table class="table-auto w-full border-collapse border border-gray-300">
          <thead>
            <tr class="bg-gray-100">
              <th class="border border-gray-300 px-4 py-2">Group Name</th>
              <th class="border border-gray-300 px-4 py-2">Permissions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Example group data -->
            {% for group in groups %}
                <tr class="odd:bg-white even:bg-gray-50">
                <td class="border border-gray-300 px-4 py-2 font-medium">
                    {{group.name}}
                </td>
                <td class="border border-gray-300 px-4 py-2">
                    <ul class="list-disc list-inside">
                    {% for permission in group.permissions.all %}
                        <li>{{permission.name}}|{{permission.codename}}</li>
                    {% empty %}
                        <span>No Permission assigned</span>
                    {% endfor %}
                    </ul>
                </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock admin_content %} 