{% extends "base.html" %}
{% block content %}
<!-- <h1 class="w-11/12 bg-slate-400 mx-auto">Hello World</h1> -->
<section class="user_dashboard ">
    <!-- dashboard section -->
    <section class="dashboard flex justify-between mb-4 bg-slate-200 p-4 rounded-md">
        <h1 class="text-xl font-bold text-violet-600">Dashboard</h1>
        <div class="icon_home flex gap-x-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 self-center">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
            </svg>
            
            <div class="home_btn  bg-sky-500 rounded-full w-7 p-0.5 text-center">
                <p class="text-white">B</p>
            </div>
        </div>
    </section>
    <section class="w-11/12  mx-auto">
        <!-- progress grids section -->
        {% include "stats_cards.html" %}
        <div>
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <!-- all task section -->
        <section>
            {% block tasks %}
            
            {% endblock tasks %}
        </section>
    </section>
</section>
{% endblock content %}