{% extends "dashboard/dashboard.html" %}
{% block title %}User Dashboard{% endblock title %}
{% block tasks %}
<h1 class="text-2xl font-semibold my-4 ">Tasks You Are Assigned To: </h1>
<section class="task mt-5 grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- today's task section -->
    <div class="today_task bg-white  rounded-lg p-4 ">
        <h2 class="font-semibold text-xl">Today's Task</h2>
        {% for todays_task in todays_tasks %}
            <a href="{% url 'task-details' todays_task.id %}">
                <div class="task_1 flex justify-between text-xs mt-2">
                    <div class="list_name flex gap-1">
                        <div class="list_style w-1 h-1 bg-green-600 rounded-full self-center"></div>
                        <p>{{todays_task.title}}</p>
                    </div>
                    <p>{{todays_task.details.get_priority_display}}</p>
                </div>
            </a>
        {% endfor %}
        
        
        
    </div>
    <!-- all task section -->
    <div class="all_task bg-white  rounded-lg p-4">
        <h2 class="text-lg font-semibold my-2">All Task</h2>
        <div class="all_task_body grid grid-cols-4 gap-1 text-base font-semibold">
            <!-- <div class="task_body_heading"></div> -->
             <p>TASK TITLE</p>
             <p>PRIORITY</p>
             <p>TEAM</p>
             <p>CREATED AT</p>
        </div>
        {% for task in tasks %}
        <a href="{% url 'task-details' task.id %}">
            <div class="grid grid-cols-4 gap-2 text-xs my-4">
                <div class="flex items-center gap-1">
                <div class="list_style w-1 h-1 bg-green-600 rounded-full "></div>
                <p>{{task.title}}</p>
                </div>
                <div class="flex items-center">
                <div class=" bg-blue-200 w-fit p-0.5 rounded-md ">
                    <p>{{task.details.get_priority_display}}</p>

                </div>
                </div>
                <div class="flex gap-1 text-center -space-x-3 text-white">
                    {% for emp in task.assigned_to.all %}
                    
                        <div class="list_style w-6 h-6 bg-green-600 rounded-full border border-white self-center flex items-center justify-center ">
                            <p >{{emp.first_name|slice:':2'}}</p>
                        </div>
                    {% endfor %}
                    
                    
                </div>
                <div class="flex items-center">

                    <p>{{task.created_at|timesince}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
        
    </div>
</section>
{% endblock tasks %}