{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
  </head>
  <body class="font-sans bg-gray-100">
    {% comment %} Including  navbar {% endcomment %}
    {% if user.is_authenticated %}
        {% include "logged_nav.html" %}
    {% else %}
        {% include "non_logged_nav.html" %}
    {% endif %}
    {% comment %} flex min-h-screen {% endcomment %}
    <main class="grid grid-cols-12">
      {% comment %} SideBar {% endcomment %}
      {% if user.is_authenticated %}
        <div class="col-span-2 h-screen">
            {% include "sidebar.html" %}
        </div>
      {% endif %}
      {% comment %} Main Content {% endcomment %}
      <div class="{% if user.is_authenticated %}col-span-10{% else %}col-span-12{% endif %}">
        {% block content %}
        
        {% endblock content %}
      </div>
    </main>
{% comment %} footer {% endcomment %}
    <div class="mt-4">
      {% include "footer.html" %}
    </div>

    <script>
      document
        .getElementById("menu-toggle")
        .addEventListener("click", function () {
          document.getElementById("mobile-menu").classList.toggle("hidden");
        });
        document
          .getElementById("user-menu-button")
          .addEventListener("click", function () {
            document.getElementById("user-menu").classList.toggle("hidden");
          });
  
        // Close the dropdown when clicking outside
        window.addEventListener("click", function (e) {
          if (!document.getElementById("user-menu-button").contains(e.target)) {
            document.getElementById("user-menu").classList.add("hidden");
          }
        });
    </script>
  </body>
</html>



{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome to Task Management System</h1>
    <div class="test_div">

        <h3>Simple and seamless solution to handle your tasks</h3>

    </div>
    {% if user.is_authenticated %}
        <p>{{user}}</p>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
    <p>Annonymous</p>
    {% endif %}
</body>
</html> {% endcomment %}