{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome to Task Management System</h1>
    <div class="test_div">

        <h3>Simple and seamless solution to handle your tasks</h3>

    </div>
    {% if user.is_authenticated %}
        <p>{{user}}</p>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
    <p>Annonymous</p>
    {% endif %}
</body>
</html>