<aside class=" bg-white shadow-md h-full">
    <div class="p-4">
        <h2 class="text-xl font-semibold text-gray-800">Menu</h2>
    </div>
    <nav class="mt-6">
        <a 
            href="{% url 'dashboard' %}" 
            class="block py-2 px-4 text-gray-700 hover:bg-gray-200"
        >Dashboard
        </a>
        <a 
            href="{% url 'user-dashboard' %}" 
            class="block py-2 px-4 text-gray-700 hover:bg-gray-200"
        >Your Tasks
        </a>
        <a
            href="{% url 'profile' %}"
            class="block py-2 px-4 text-gray-700 bg-gray-200 hover:bg-gray-300"
        >Profile
        </a>
        <a 
            href="{% url 'edit-profile' %}" 
            class="block py-2 px-4 text-gray-700 hover:bg-gray-200"
        >Edit Profile
        </a>
        <a 
            href="#" 
            class="block py-2 px-4 text-gray-700 hover:bg-gray-200"
        >Settings
        </a>
        
        <a 
            href="{% url 'password-change' %}" 
            class="block py-2 px-4 text-gray-700 hover:bg-gray-200"
        >Change Password
        </a>
    </nav>
</aside>